/* simulationStyles.css */

* {
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


BorderPane {
    background-color: #f0f0f0;
}

VBox {
    -fx-spacing: 10;
    -fx-padding: 5 5;
}

.category-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

Button {
    -fx-background-color: #27ae60;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-padding: 10 10;
}

.large-font {
    -fx-font-size: 20px;
}

GridPane {
    -fx-background-color: linear-gradient(to bottom, #3eafca, #5b9cdc);
    -fx-border-color: #688ea8;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-alignment: center;
}

.energy-bar {
    -fx-background-color: linear-gradient(to right, red, yellow, green);
    -fx-opacity: 0.8;
    -fx-border-radius: 1px;
}

.animal-highlight {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,0,0.8), 10, 0, 0, 0);
}

.chart-series-line { -fx-stroke-width: 2px; }
.chart-series-line.series0 { -fx-stroke: blue; }  /* Zwierzęta */
.chart-series-line.series1 { -fx-stroke: green; } /* Rośliny */
.chart-series-line.series2 { -fx-stroke: purple; }
.chart-series-line.series3 { -fx-stroke: red; }
.chart-series-line.series4 { -fx-stroke: #9c5407; }

.chart-legend-item-symbol.series0 { -fx-background-color: blue; }  /* Zwierzęta */
.chart-legend-item-symbol.series1 { -fx-background-color: green; } /* Rośliny */
.chart-legend-item-symbol.series2 { -fx-background-color: purple; }
.chart-legend-item-symbol.series3 { -fx-background-color: red; }
.chart-legend-item-symbol.series4 { -fx-background-color: #9c5407; }
