
* {
    -fx-font-family: 'Roboto', sans-serif;
}

BorderPane {
    background-color: #f0f0f0;
}

VBox, HBox {
    -fx-spacing: 15;
}

Button {
    -fx-background-color: #0f9d58;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

Label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}

TextField, ChoiceBox {
    -fx-font-size: 14px;
    -fx-padding: 8;
    -fx-background-radius: 5;
    -fx-background-color: #ffffff;
    -fx-border-color: #d6d6d6;
}

#startButton {
    -fx-background-color: #4285f4;
}